*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .Nav {
    height: 60px;
    margin-bottom: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  img ~ img  {
    position: fixed;
    right: 10px;
    top:8px;
  }
  .Nav__logo{
    margin-top: 12px;
  }
  .Nav__black{
    z-index: 2;
    background: rgba(0, 0, 0, 0.95);
    width: 100%;
  }