  img ~ img  {
    position: fixed;
    right: 10px;
    top:8px;
  }

  .navbar {
    margin-left: -16px;
    position: fixed;
    z-index: 2;
  }

  .nav-content {
    position: fixed;
    color: rgb(0, 0, 0);
    z-index: 2; 
  }

  .nav-logo{
    z-index: 2; 
    margin-top: 10px;
    margin-bottom: 10px;
    height: 60px;
    width: 60px; 
  }
  
  .nav-black{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: large;
    margin-top: -10px;
    z-index: 2;
    background: rgba(144, 222, 248, 0.95);
    width: 100%; 
  }

