.projectsSect {
    margin-left: 30px;
    padding-top: 130px;
    color: whitesmoke
}

.aboutSect {
    margin-top: 60px;
    padding-left: 30px;
    padding-bottom: 30px;
    color: whitesmoke
}

.contactSect {
    margin-left: 30px;
    padding-top: 30px;
    color: whitesmoke
}