#foot {
    text-align: center;
    font-size: smaller;
    color: black;
    margin: auto;
}

.footie {
    background: rgba(144, 222, 248, 0.95);
}

.navbar.fixed-bottom {
    background-color: rgba(144, 222, 248, 0.95);
    height: 40px;
}
